.body-style{
    font-family: 'Inter', sans-serif;
}

.bg-dark{
    background-color: #141414!important;
}

.bg-blue{
    background-color: #001530!important;
}

.bg-green{
    background-color: #003006!important;
}

.span-style{
    width: 50%;
    font-size: 0.95rem;
    background-color: #242424!important;
}

/* .text-centre{
    text-align: center!important;
} */

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    box-shadow: 0 0 0 30px var(--scroll-bar-color-1) inset !important;
    -webkit-text-fill-color: white;
}