.body-style{
    font-family: 'Inter', sans-serif;
}

.bg-dark{
    background-color: #141414!important;
}

.bg-blue{
    background-color: #001530!important;
}

.bg-green{
    background-color: #003006!important;
}

.span-style{
    width: 50%;
    font-size: 0.95rem;
    background-color: #242424!important;
}

.text-centre{
    text-align: center!important;
}

.btn-width{
    width: 100%!important;
}

.github-link{
    text-decoration: none!important;
    color: #fff!important;
}

.github-link:hover{
    color: #005eda!important;
}

.white-border{
    border: 1px solid #fff!important;
}

.icon-size{
    font-size: 1.5rem!important;
}