<!DOCTYPE html>
<html>

<head>

  <title> Salary Calculator </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">


</head>

  <body>

    <div class="container top-space">
        <h1 class="text-4xl font-bold mb-8">Salary Calculator</h1>
        <form method="POST" action="{{ url_for('home') }}"> <!--class="flex flex-col items-center" -->

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">Pegged Currency</span><br>
            <select class="form-select form-control" id="pegged-currency" name="pegged_currency" aria-describedby="basic-addon3">
              <option value="LKR" {{ 'selected' if request.form['pegged_currency'] == 'LKR' }}>LKR</option>
              <option value="USD" {{ 'selected' if request.form['pegged_currency'] == 'USD' }}>USD</option>
              <option value="GBP" {{ 'selected' if request.form['pegged_currency'] == 'GBP' }}>GBP</option>
              <option value="AUD" {{ 'selected' if request.form['pegged_currency'] == 'AUD' }}>AUD</option>
              <option value="EUR" {{ 'selected' if request.form['pegged_currency'] == 'EUR' }}>EUR</option>
              <!-- Add more options as needed -->
            </select>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">Basic Salary</span><br>
            <input type="number" class="form-control" id="basic-salary" name="basic_salary" aria-describedby="basic-addon3" value="{{ request.form['basic_salary'] }}">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">Total Allowances</span><br>
            <input type="number" class="form-control" id="total-allowances" name="total_allowances" aria-describedby="basic-addon3" value="{{ request.form['total_allowances'] }}">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">Total Deductions</span><br>
            <input type="number" class="form-control" id="total-deductions" name="total_deductions" aria-describedby="basic-addon3" value="{{ request.form['total_deductions'] }}">
          </div>
      
          <center>
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-6 rounded mt-8">Calculate</button>
          </center>
        </form>
      </div>

      <div class="container output-space">
        {% if income_tax %}
          <p style="font-size: 1.1rem;">Monthly Income Tax is LKR {{ income_tax }}</p>
        {% endif %}

        {% if net_salary %}
          <p style="font-size: 1.1rem;">Monthly Net Salary is LKR {{ net_salary }}</p>
        {% endif %}
      </div>

      <div class="container output-space-2">
          <p style="font-size: 0.8rem;">
            Visit 
            <a href="https://github.com/danulawa/salcal-v2" style="color: #60A5FA; text-decoration: underline;" target="_blank">
              GitHub Repo</a> 
            for this Calculator Tool
          </p>
      </div>
      

  </body>

</html>