<!DOCTYPE html>
<html>

<head>

  <title>Salary Calculator</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap" rel="stylesheet">

</head>

  <body>

    <div class="container top-space">
        <h1 class="text-4xl font-bold mb-8">Salary Calculator</h1>
        <form method="POST" action="{{ url_for('home') }}">

          <div class="input-group mb-3">
            <span class="input-group-text custom-label" id="basic-addon3">Pegged Currency</span><br>
            <select class="form-select form-control" id="pegged-currency" name="pegged_currency" aria-describedby="basic-addon3">
              <option value="LKR" {{ 'selected' if request.form['pegged_currency'] == 'LKR' }}>LKR</option>
              <option value="USD" {{ 'selected' if request.form['pegged_currency'] == 'USD' }}>USD</option>
              <option value="GBP" {{ 'selected' if request.form['pegged_currency'] == 'GBP' }}>GBP</option>
              <option value="AUD" {{ 'selected' if request.form['pegged_currency'] == 'AUD' }}>AUD</option>
              <option value="EUR" {{ 'selected' if request.form['pegged_currency'] == 'EUR' }}>EUR</option>
              <!-- Add more options as needed -->
            </select>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text custom-label" id="basic-addon3">Basic Salary</span><br>
            <input type="number" class="form-control" id="basic-salary" name="basic_salary" aria-describedby="basic-addon3" value="{{ request.form['basic_salary'] }}">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text custom-label" id="basic-addon3">Total Allowances</span><br>
            <input type="number" class="form-control" id="total-allowances" name="total_allowances" aria-describedby="basic-addon3" value="{{ request.form['total_allowances'] }}">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text custom-label" id="basic-addon3">Total Deductions</span><br>
            <input type="number" class="form-control" id="total-deductions" name="total_deductions" aria-describedby="basic-addon3" value="{{ request.form['total_deductions'] }}">
          </div>
      
          <center>
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-6 rounded mt-8">Calculate</button>
          </center>
        </form>
      </div>

      <div class="container output-space">
        {% if income_tax %}
          <p style="font-size: 1.1rem;">Monthly Income Tax is LKR {{ income_tax }}</p>
        {% endif %}

        {% if net_salary %}
          <p style="font-size: 1.1rem;">Monthly Net Salary is LKR {{ net_salary }}</p>
        {% endif %}

        {% if epf_etf_amount %}
        <p style="font-size: 1.1rem;">Monthly EPF/ETF Payment is LKR {{ epf_etf_amount }}</p>
        {% endif %}

      </div>

      <div class="container output-space-2">
          <p style="font-size: 0.8rem;">
            Visit 
            <a href="https://github.com/danulawa/salcal-v2" style="color: #60A5FA; text-decoration: underline;" target="_blank">
              GitHub Repo</a> 
            for this Calculator Tool
          </p>
      </div>
      

  </body>

</html>