<!DOCTYPE html>
<html>

  {% include 'comp_head_tag.html' %}

  <body class="bg-dark text-white body-style">

    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3 mb-3 mt-3">
          
          <h1 class="mb-3 text-center">Salary Calculator</h1>
          
          <form class="mb-5" method="POST" action="{{ url_for('home') }}">
              
            <div class="form-floating mb-3">
              <select class="form-select form-control bg-dark text-white" id="pegged-currency" name="currency" placeholder=" " aria-describedby="basic-addon3">
                <option value="LKR" {% if currency == 'LKR' %} selected {% endif %}>LKR</option>
                <option value="USD" {% if currency == 'USD' %} selected {% endif %}>USD</option>
                <option value="GBP" {% if currency == 'GBP' %} selected {% endif %}>GBP</option>
                <option value="AUD" {% if currency == 'AUD' %} selected {% endif %}>AUD</option>
                <option value="EUR" {% if currency == 'EUR' %} selected {% endif %}>EUR</option>
              </select>
              <label for="pegged-currency">Enter Currency</label>
            </div>

            <div class="form-floating mb-3">
              <input type="number" class="form-control bg-dark text-white" id="basic-salary" name="basic_salary" aria-describedby="basic-addon3" placeholder=" " value="{{ basic_salary }}" />
              <label for="basic-salary">Enter Your Basic Salary</label>
            </div>

            <div class="form-floating mb-3">
              <input type="number" class="form-control bg-dark text-white" id="total-allowances" name="allowances" aria-describedby="basic-addon3" placeholder=" " value="{{ allowances }}">
              <label for="total-allowances">Enter Total Allowances (Optional)</label>
            </div>

            <div class="form-floating mb-3">
              <input type="number" class="form-control bg-dark text-white" id="total-deductions" name="deductions" aria-describedby="basic-addon3" placeholder=" " value="{{ deductions }}">
              <label for="total-deductions">Enter Total Deductions (Optional)</label>
            </div>

            <button type="submit" class="btn btn-primary text-center btn-width">Calculate</button>

          </form>

          <div class="row mt-3">

            <div class="col">

              <div class="card custom-card bg-dark text-white text-center white-border">
                <div class="card-body">
                  <h5 class="card-title">Visit Repo</h5>
                  <p class="card-text">
                    <a  href="https://github.com/danulawa/salcal-v2" class="github-link" target="_blank"> 
                    <i class="fa-brands fa-github icon-size"></i> Click Here</a>
                  </p>
                </div>
              </div>

            </div>

            <div class="col">

              <div class="card custom-card bg-dark text-white text-center white-border">
                <div class="card-body">
                  <h5 class="card-title">Total Users</h5>
                  <p class="card-text"><i class="fa-solid fa-users icon-size"></i> {{ total_visitors }}</p>
                </div>
              </div>

            </div>

          </div>

        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>

  </body>

</html>