<!DOCTYPE html>
<html>

  {% include 'comp_head_tag.html' %}

  <body class="bg-dark text-white body-style">

    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3 mb-3 mt-3">
          
          <h1 class="mb-3 text-center">Salary Results</h1>

          {% if epf_8_amount %}
          <div class="form-floating mb-3">
            <input disabled type="text" class="form-control bg-dark bg-blue text-white" id="epf-eight" name="epf_eight" aria-describedby="basic-addon3" value="{{ epf_8_amount }}">
            <label for="epf-eight">EPF 8% Share</label>
          </div>
          {% endif %}

          {% if epf_etf_amount %}
          <div class="form-floating mb-3">
            <input disabled type="text" class="form-control bg-dark bg-blue text-white" id="monthly-epfetf" name="monthly_epfetf" aria-describedby="basic-addon3" value="{{ epf_etf_amount }}">
            <label for="monthly-epfetf">Monthly 20% EPF & 3% ETF Payment</label>
          </div>
          {% endif %}

          {% if old_income_tax %}
          <div class="form-floating mb-3">
            <input disabled type="text" class="form-control bg-dark bg-blue text-white" id="income-tax" name="income_tax" aria-describedby="basic-addon3" value="{{ old_income_tax }}">
            <label for="income-tax">Old Monthly Tax Payment (2023 JAN 01 to 2025 MAR 31)</label>
          </div>
          {% endif %}

          {% if income_tax %}
          <div class="form-floating mb-3">
            <input disabled type="text" class="form-control bg-dark bg-blue text-white" id="income-tax" name="income_tax" aria-describedby="basic-addon3" value="{{ income_tax }}">
            <label for="income-tax">New Monthly Tax Payment (2025 APR 01 Onwards)</label>
          </div>
          {% endif %}

          {% if saved_income_tax %}
          <div class="form-floating mb-3">
            <input disabled type="text" class="form-control bg-dark bg-blue text-white" id="income-tax" name="income_tax" aria-describedby="basic-addon3" value="{{ saved_income_tax }}">
            <label for="income-tax">Saved Monthly Tax (2025 APR 01 Onwards)</label>
          </div>
          {% endif %}

          {% if net_salary %}
          <div class="form-floating mb-3">
            <input disabled type="text" class="form-control bg-dark bg-blue text-white" id="net-salary" name="net_salary" aria-describedby="basic-addon3" value="{{ net_salary }}">
            <label for="net-salary">Monthly Net Salary</label>
          </div>
          {% endif %}
          
          <form class="mb-5" action="{{ url_for('home') }}">
            <button type="submit" class="btn btn-primary text-center btn-width">Re-Calculate</button>
          </form>

          <div class="row mt-3">

            <div class="col">

              <div class="card custom-card bg-dark text-white text-center white-border">
                <div class="card-body">
                  <h5 class="card-title">Visit Repo</h5>
                  <p class="card-text">
                    <a  href="https://github.com/danulawa/salcal-v2" class="github-link" target="_blank"> 
                    <i class="fa-brands fa-github icon-size"></i> Click Here</a>
                  </p>
                </div>
              </div>

            </div>

          </div>

        </div>
      </div>
    </div>

    {% include 'comp_script_tag.html' %}

  </body>

</html>